/*
 * dark blue = #212333
 * mid buule = 6C7A9E
 * accent blue = 4477B4
 * light accent = 79a1c4
 * off-white f0f4f3
 *
 */

body {
  margin: 0;
  padding: 0;
  background-color: #f5f4f3;
}

nav {
  background-color: #212333;
  padding: 0.5em 02em;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  padding: 0em 0.5em;
}

nav a {
  color: #f5f4f3;
  font-weight: bold;
  text-decoration: none;
}

nav a:visited {
  color: #f5f4f3;
}

main {
  padding: 1em;
}

.bi {
  font-family: bootstrap-icons;
}
.nav-light {
  background-color: #6C7A9E;
}
#auth-navbar {
  padding-bottom: 0em;
}
#auth-navbar-tabs {
  border-width: 0px;
}
.active a {
  background-color: green !important;
}
