.budget-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
  font-size: small;
}

.month-changer {
  display: flex;
  justify-content: space-between;
}

.month-container {
  padding: 1em;
  border: 1px solid black;
}

.budget-entry {
  padding: 0em 0.5em;
}

.budget-item div {
  padding: 0em 1em;
}

.cat-heading {
  font-weight: bold;
}

.heading-row {
  background-color: #79a1c4;
  border-bottom: 1px dashed black;
  border-top: 1px dashed black;
}

.budget-table {
  border-spacing: 0px;
}

.budget-cat {
  border-right: 1px dashed black;
}

.budget-diff,
.monthly-summary {
  border-right: 1px dashed black;
}
.budget-table th {
  border-right: 1px dashed black;
  border-left: 1px dashed black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
